/*
* Third Party
*/
@import "../../bower_components/normalize-css/normalize.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/*
* Custom
*/

@import "partials/variable";
@import "partials/fonts";
@import "partials/owl.carousel.scss";
@import "partials/sv_icons.scss";
@import "partials/magnific-popup.scss";
@import "partials/sprite.scss";

body {
	font-family: "Rob-reg";
	letter-spacing: 1px;
	color: $text;
	overflow-x: hidden;
}

//icons

.flex {
	display: flex;
	align-items: center;
	i {
		margin-right: 12px;
	}
}

.no-clearfix {
	&:before {
		display: none;
	}

	&:after {
		display: none;
	}
}

[class^="ic-"] {
	display: inline-block;
}

.ic-man {
	@include sprite($man);
}

.ic-phone {
	@include sprite($phone);
}

.ic-mail {
	@include sprite($mail);
}

.ic-location {
	@include sprite($location);
}

.ic-cart {
	@include sprite($cart);
}
 
.header {

	&__container {
		display: flex;
	}

	&__logo {
		flex: 0 1 auto;
		width: 190px;
		padding: 15px 0;
	}

	&__info {
		flex: 1 0 auto;
	}

	&__top {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 24px 0;
	}

	&__contacts {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__phones {
		display: flex;
		flex-direction: column;
	}

	&__login {

		a {
			color: $text;

			&:hover {
				color: $brand2;
			}
		}
	}

	&__lang {
		margin-left: 20px;
		border-right: 1px solid #707070;
		border-left: 1px solid #707070;
	}

	&__cart {
		margin-left: 20px;

		.shortcut_heading {
			color: $text;
		}
	}

	&__callback {
		margin-left: 30px;
		a {
			color: #fff;
			background-color: $brand;
			padding: 11px 28px;
			font-family: "Rob-light";

			&:hover {
				background-color: $brand2;
			}
		}
	}

	&__bot {
		position: relative;
		height: 46px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		background-color: $brand2;

		&:before {
			content: "";
			position: absolute;
			left: 100%;
			top: 0;
			height: 100%;
			width: 999px;
			background-color: $brand2;
		}

		&:after {
			content: "";
			border: 65px solid transparent;
			border-bottom-width: 46px;
			position: absolute;
			right: 100%;
			bottom: 0;
			border-bottom-color: $brand2;
			transform: translateX(50%);
		}

		a {
			color: #fff;
		}
	}

	&__phones,
	&__mail{
		padding-left: 36px;
		position: relative;
		margin-left: 36px;

		i {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		a {
			font-size: 15px;

			&:hover {
				color: $brand;
				text-decoration: none;
			}
		}
	}

	&__phones {
		padding-left: 29px;
	}

	&__mail {
		a {
			text-decoration: underline;
		}
	}

	#menu {
		& > ul {
			& > li {
				margin-right: 30px;
				position: relative;
				
				&:after {
					content: "";
					height: 12px;
					width: 1px;
					background-color: #444;
					position: absolute;
					left: calc(100% + 14px);
					top: calc(50% - 6px);
				}

				& > a {
					font-size: 15px;
					color: #fff;
					padding: 10px 3px;
					font-family: "Rob-thin";
					display: inline-block;
					vertical-align: middle;
					-webkit-transform: perspective(1px) translateZ(0);
					transform: perspective(1px) translateZ(0);
					box-shadow: 0 0 1px transparent;
					position: relative;
					overflow: hidden;

					i {
						margin-left: 5px;
						position: relative;
						top: -2px;
					}

					&:before {
						content: "";
						position: absolute;
						z-index: -1;
						left: 50%;
						right: 50%;
						bottom: 0;
						background: $brand2;
						height: 2px;
						-webkit-transition-property: left, right;
						transition-property: left, right;
						-webkit-transition-duration: 0.3s;
						transition-duration: 0.3s;
						-webkit-transition-timing-function: ease-out;
						transition-timing-function: ease-out;
					}

					&:hover,
					&:focus,
					&:active {
						background-color: transparent;
						&:before {
							left: 0;
							right: 0;
						}
					}
				}
			}
		}

		a {
			color: $text;
			&:hover {
				background-color: $brand;
				color: #fff;
			}
		}
	}

	.menu_wrapper {
		background-color: #151515;
		padding: 35px 0;
	}
}

.footer {
	font-size: 13px;
	border-top: 6px solid #111111;
	padding-top: 50px;
	color: $brand;
	a {
		color: $brand;
		&:hover {
			color: $brand2;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;	
	}

	&__list {
		padding-left: 0;
		list-style-type: none;

		&-item {
			margin-bottom: 20px;
		}
	}

	&__logo {
		margin-bottom: 40px;
	}

	&__losung {
		font-size: 18px;
		font-family: "Rob-bold";
		text-transform: uppercase;
		position: relative;
		margin-bottom: 65px;

		&:before {
			content: "";
			position: absolute;
			left: calc(50% - 59px);
			width: 108px;
			top: calc(100% + 33px);
			height: 1px;
			background-color: #a1a1a1;
		}
	}

	&__info {
		display: flex;
	}

	&__column {
		max-width: 270px;
		font-family: "Rob-bold";

		&:not(:last-child) {
			margin-right: 75px;
		}
	}

	&__contacts {
		& > div {
			margin-bottom: 20px;
			display: flex;
			flex-direction: column;
		}
	}

	&__column-title {
		margin-bottom: 35px;
		padding-top: 50px;
		position: relative;
		span {
			font-size: 18px;
			text-transform: uppercase;
			font-family: "Rob-bold";
		}

		i {
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
		}
	}

	&__copy {
		padding: 30px 0;
		text-align: center;
		border-top: 1px solid #e1e1e1;
		font-size: 13px;
	}

}
 

@import "partials/media.scss";
