/*
* Third Party
*/
@import "../../bower_components/normalize-css/normalize.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/*
* Custom
*/

@import "partials/variable";
@import "partials/fonts";
@import "partials/owl.carousel.scss";
@import "partials/sv_icons.scss";
@import "partials/magnific-popup.scss";
@import "partials/sprite.scss";

body {
	font-family: "Rob-reg";
	letter-spacing: 1px;
	color: $text;
	overflow-x: hidden;
}

//icons

.flex {
	display: flex;
	align-items: center;
	i {
		margin-right: 12px;
	}
}

.title {
	margin-bottom: 80px;

	h2,h1 {
		font-size: 30px;
		font-family: "Osw-bold";
		text-transform: uppercase;
		color: $brand;
		position: relative;
		margin: 0;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: calc(100% + 10px);
			border: 7px solid transparent;
			border-top: 10px solid #d6c193;
		}
	}

	&--white {
		h2,h1 {
			color: #fff;
		}
	}

	&--green {
		h2,h1 {
			color: $brand2;
		}
	}
}

.no-clearfix {
	&:before {
		display: none;
	}

	&:after {
		display: none;
	}
}

[class^="ic-"] {
	display: inline-block;
}

.ic-man {
	@include sprite($man);
}

.ic-back {
	@include sprite($back-arrow);
}

.ic-phone {
	@include sprite($phone);
}

.ic-mail {
	@include sprite($mail);
}

.ic-location {
	@include sprite($location);
}

.ic-location2 {
	@include sprite($location2);
}

.ic-cart {
	@include sprite($cart);
}

.ic-send {
	@include sprite($send);
}

.ic-cart2 {
	@include sprite($cart2);
}

.ic-bage {
	@include sprite($bage);
}

.ic-eye {
	@include sprite($eye);
}

.ic-arrow-left {
	@include sprite($arrow-left);
}

.ic-arrow-right {
	@include sprite($arrow-right);
}
 
.header {

	&__container {
		display: flex;
	}

	&__logo {
		flex: 0 1 auto;
		width: 190px;
		padding: 15px 0;
	}

	&__info {
		flex: 1 0 auto;
	}

	&__top {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 24px 0;
	}

	&__contacts {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__phones {
		display: flex;
		flex-direction: column;
	}

	&__login {

		a {
			color: $text;

			&:hover {
				color: $brand2;
			}
		}
	}

	&__lang {
		margin-left: 20px;
		border-right: 1px solid #707070;
		border-left: 1px solid #707070;
	}

	&__cart {
		margin-left: 20px;

		.shortcut_heading {
			color: $text;
		}
	}

	&__callback {
		margin-left: 30px;
		a {
			color: #fff;
			background-color: $brand;
			padding: 11px 28px;
			font-family: "Rob-light";

			&:hover {
				background-color: $brand2;
			}
		}
	}

	&__bot {
		position: relative;
		height: 46px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		background-color: $brand2;

		&:before {
			content: "";
			position: absolute;
			left: 100%;
			top: 0;
			height: 100%;
			width: 999px;
			background-color: $brand2;
		}

		&:after {
			content: "";
			border: 65px solid transparent;
			border-bottom-width: 46px;
			position: absolute;
			right: 100%;
			bottom: 0;
			border-bottom-color: $brand2;
			transform: translateX(50%);
		}

		a {
			color: #fff;
		}
	}

	&__phones,
	&__mail{
		padding-left: 36px;
		position: relative;
		margin-left: 36px;

		i {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		a {
			font-size: 15px;

			&:hover {
				color: $brand;
				text-decoration: none;
			}
		}
	}

	&__phones {
		padding-left: 29px;
	}

	&__mail {
		a {
			text-decoration: underline;
		}
	}

	#menu {
		& > ul {
			& > li {
				margin-right: 30px;
				position: relative;
				
				&:not(:last-child):after {
					content: "";
					height: 12px;
					width: 1px;
					background-color: #444;
					position: absolute;
					left: calc(100% + 14px);
					top: calc(50% - 6px);
				}

				& > a {
					font-size: 15px;
					color: rgba(255,255,255,.6);
					padding: 10px 3px;
					font-family: "Rob-thin";
					display: inline-block;
					vertical-align: middle;
					-webkit-transform: perspective(1px) translateZ(0);
					transform: perspective(1px) translateZ(0);
					box-shadow: 0 0 1px transparent;
					position: relative;
					overflow: hidden;

					i {
						margin-left: 5px;
						position: relative;
						top: -2px;
					}

					&:before {
						content: "";
						position: absolute;
						z-index: -1;
						left: 50%;
						right: 50%;
						bottom: 0;
						background: $brand2;
						height: 2px;
						-webkit-transition-property: left, right;
						transition-property: left, right;
						-webkit-transition-duration: 0.3s;
						transition-duration: 0.3s;
						-webkit-transition-timing-function: ease-out;
						transition-timing-function: ease-out;
					}

					&:hover,
					&:focus,
					&:active {
						background-color: transparent;
						&:before {
							left: 0;
							right: 0;
						}
					}
				}
			}
		}

		a {
			color: $text;
			&:hover {
				background-color: $brand;
				color: #fff;
			}
		}
	}

	.menu_wrapper {
		background-color: #151515;
		padding: 35px 0;
	}
}

.footer {
	font-size: 13px;
	border-top: 6px solid #111111;
	padding-top: 50px;
	color: $brand;
	a {
		color: $brand;
		&:hover {
			color: $brand2;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;	
	}

	&__list {
		padding-left: 0;
		list-style-type: none;

		&-item {
			margin-bottom: 20px;
		}
	}

	&__logo {
		margin-bottom: 40px;
	}

	&__losung {
		font-size: 18px;
		font-family: "Rob-bold";
		text-transform: uppercase;
		position: relative;
		margin-bottom: 65px;

		&:before {
			content: "";
			position: absolute;
			left: calc(50% - 59px);
			width: 108px;
			top: calc(100% + 33px);
			height: 1px;
			background-color: #a1a1a1;
		}
	}

	&__info {
		display: flex;
	}

	&__column {
		max-width: 270px;
		font-family: "Rob-bold";

		&:not(:last-child) {
			margin-right: 75px;
		}
	}

	&__contacts {
		& > div {
			margin-bottom: 20px;
			display: flex;
			flex-direction: column;
		}
	}

	&__column-title {
		margin-bottom: 35px;
		padding-top: 50px;
		position: relative;
		span {
			font-size: 18px;
			text-transform: uppercase;
			font-family: "Rob-bold";
		}

		i {
			position: absolute;
			left: 50%; 
			top: 0;
			transform: translateX(-50%);  
		}
	}

	&__copy { 
		padding: 30px 0;
		text-align: center;
		border-top: 1px solid #e1e1e1;
		font-size: 13px;
	}

}

.grid_holder {
	margin-left: 0;
	margin-right: 0;
	display: flex;
	flex-wrap: wrap;
}

.product-grid {

	.item {
		padding: 22px 45px;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: calc(100% - 10px);
			height: 100%;
			border: 1px solid #eaeaea;
			pointer-events: none;
			left: 10px;
		}

		.image,
		.image_hover {
			a {
				height: 172px;
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}

.cattegory-left {

	.box-heading {
		font-family: "Rob-bold";
		text-transform: uppercase;
		font-size: 18px;
		padding: 0;
		border-bottom: none;

		&:after {
			display: none;
		}
	}

	.box-content ul li {

		a {
			background-color: $brand;
			color: #fff;
			font-family: "Rob-reg";
			font-size: 12px;
			text-transform: uppercase;
			padding: 7px 14px;
			border-bottom: 1px solid #fff;
			&:hover {
				background-color: $brand2;
			}
		}

		ul {
			a {
				padding: 7px 28px;
			}

			ul {
				a {
					padding: 7px 42px;
				}
			}
		}

		.sign {
			color: #fff;
			top: 4px;
		}
	}
}

.home-slider {
	background-image: url("/image/slide-bg.jpg");
	background-position: center bottom;
	background-size: cover;
	position: relative;
	height: 430px;

	.owl-dots {
		position: absolute;
	    bottom: auto;
	    width: 100%;
	    left: 0;
	    top: calc(100% + 20px);
	    display: flex;
	    justify-content: center;

	    .owl-pagination {
	    	display: flex;
	    }

	    .owl-dot {
	    	margin: 0 3px;
	    	span {
	    		display: inline-block;
	    		width: 9px;
	    		height: 9px;
	    		border-radius: 50%;
	    		border: 1px solid $brand2;
	    	}

	    	&.active {
	    		span {
					background-color: $brand2;
	    		}
	    	}
	    }
	}

	&-wrapper {
		padding-bottom: 57px;
		background-color: #151515;
		box-shadow: 0 27px 27px rgba(#4f4f4f, .1);
	}
}

.owl-carousel.custom {
	margin-bottom: 0;
}

.product-home {
	padding: 100px 0;
	border-bottom: 1px solid #b7b7b7;

	&__inner {
		display: flex;
	}

	&__products {
		display: flex;
		flex-wrap: wrap;
	}

	&__left-column {
		flex-shrink: 0;
		margin-right: 15px;
		width: 25%;

		#column-left {
			width: 100%;
			padding-left: 0;
		}
	}
}

.oficial-destr {
	padding: 130px 0;
	border-top: 2px solid #b7b7b7;

	&__images {
		display: flex;
		align-items: center;

		img:last-child {
			position: relative;
			left: -60px;
		}
	}
}

.consult {
	padding: 85px 0;
	border-top: 2px solid #b7b7b7;
	
	&__container {
		display: flex;
	}

	&__question {
		width: 650px;
		height: 523px;
		background-image: url("/image/questions.jpg");
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: right top;
		h2 {
			font-size: 90px;
			font-family: "Rob-bold";
			color: #4a443e;
			text-transform: uppercase;
			padding: 65px 0 0 66px;

			span {
				font-size: 39px;
				color: #fff;
			}
		}
		p {
			width: 287px;
			text-align: right;
			font-size: 14px;
			color: #4d5967;
			font-family: "Rob-light";
		}
	}

	&__form {
		width: calc(100% - 650px);
		padding: 0 63px;

		&--white {
			width: 550px;
		}

		h3 {
			margin: 0 0 5px 0;
			padding: 5px 0;
			font-size: 22px;
			text-transform: uppercase;
			font-family: "Rob-bold";
			border-bottom: 1px solid #e1e1e1;
			color: $brand;
			text-align: center;
			span {
				color: $brand2;
			}
		}

		p {
			font-size: 13px;
			color: #bfbebe;
			text-align: center;
		}

		form {
			margin-top: 40px;
			display: block;
		}
	}

	&__input {
		margin-bottom: 25px;
		label {
			font-size: 13px;
			color: #525252;
			margin-bottom: 10px;
		}
		input {
			height: 33px;
			padding: 5px 11px;
			border: none;
			box-shadow: none;
			border-bottom: 1px solid $brand;
			width: 100%;
			font-size: 13px;
			font-style: italic;
			&:focus {
				outline: none;
				border-bottom-color: $brand2;
			}
		}

		&--white {
			label {
				color: #fff;
			}

			input {
				background-color: transparent;
				color: #fff;
				border-bottom: 1px solid #fff;
			}
		}

		button {
			height: 56px;
			padding: 0px 32px;
			background-color: $brand2;
			color: #fff;
			border: none;
			box-shadow: none;
			letter-spacing: 1px;
			display: flex;
			align-items: center;
			margin: 0 auto;

			&:hover {
				background-color: $brand;
			}

			i {
				margin-right: 15px;
			}
		}


	}

	&__txt {
		font-size: 10px;
		color: #bfbebe;
		text-align: center;
	}
}

.certificates {
	padding: 125px 0;

	&__inner {
		display: flex;
	}
	&__col {
		width: 470px;

		&:first-child {
			margin-right: 50px;
		}
	}

	&__text {
		line-height: 25px;

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__carousel-item {
		margin: 0 18px;
	}

	.owl-nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
		position: absolute;
		left: 0;
		top: 50%;

	}

	&__left,
	&__right {
		border: 10px solid transparent;
		display: block;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	&__right {
		position: relative;
		left: 25px;
		border-left: 10px solid $brand2;
	}

	&__left {
		position: relative;
		right: 25px;
		border-right: 10px solid $brand2;
	}
}


.product-layout  {
	width: calc(33.3% - 11px);
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	margin-bottom: 29px;
	padding: 21px 27px 35px;

	&:not(:nth-child(3n)) {
		margin-right: 16px;
	} 

	.image {
		margin-bottom: 25px;

		a {
			height: 173px;
			display: block;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	h4 {
		a {
			color: #323232;
			font-size: 15px;
			font-family: "Rob-reg";
			text-transform: uppercase;
			&:hover {
				color: $brand2;
			}
		}
	}

	.price {
		display: flex;
		align-items: center;
		margin-top: 20px;
		color: #d85b10;
		font-family: "Rob-bold";
		font-size: 17px;
		.price-new {
			color: #d85b10;
			font-family: "Rob-bold";
			margin-right: 10px;
		}

		i {
			margin-right: 8px;
		}
	}

	.caption {
		width: 100%;
	}

	.button-group {
		display: flex;
		align-items: center;
		margin-top: 25px;
		a {
			flex-grow: 1;
			display: flex;
			height: 40px;
			justify-content: center;
			align-items: center;
			font-size: 15px;
			color: #fff;
			background-color: $brand;
			&:hover {
				background-color: $brand2;
			}
		}

		button {
			height: 40px;
			width: 40px;
			background-color: $brand2;
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			margin-left: 15px;
			&:hover {
				background-color: $brand;
			}
		}
	}
}

.special-offers {
	padding: 125px 0;

	&__left {
		width: 472px;
	}

	&__inner {
		display: flex;
		align-items: flex-end;
	}

	&__title {
		h5 {
			margin: 0;
			font-size: 16px;
			font-family: "Rob-bold";
			margin-bottom: 28px;
		}
	}

	&__right {
		padding-left: 100px;

		iframe {
			width: 173px;
			height: 117px;
			margin-right: 25px;
		}
	}

	&__item {
		display: flex;
		padding: 0;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}

.look-book {
	
	&__inner {
		height: 945px;
		background-image: url("/image/gallery.jpg");
		background-repeat: repeat-x;
		padding: 90px 0 150px;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		width: calc(50% - 15px);
		background-color: #fff;
		box-shadow: 0 12px 24px rgba(#292929, .5);
		padding: 24px 30px 40px;
		text-align: center;

		.img {
			a {
				width: 100%;
				display: flex;
				height: 342px;
				background-position: center;
				background-size: cover;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;

				&:before {
					transition: all .3s ease-in;
					opacity: 0;
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					background-color: rgba($brand2, .76);
				}

				i {
					transition: all .3s ease-in;
					opacity: 0;
					position: relative;
					z-index: 10;
					transform: translateY(30px);
				}


				&:hover {
					&:before, i {
						opacity: 1;
					}
					i {
						transform: translateY(0px);
					}
				}
			}
		}
	}

	&__title {
		font-size: 18px;
		padding: 30px 0;
		color: #323232;
		text-transform: uppercase;
		font-family: "Osw-bold";
		a {
			color: $brand;
			&:hover {
				color: $brand2;
			}
		}
	}

	.descr {
		font-size: 15px;
		font-family: "Rob-thin";
		color: #323232;
	}
}

.look-book-single {
	
	&__inner {
		height: 945px;
		background-image: url("/image/gallery.jpg");
		background-repeat: repeat-x;
		padding: 90px 0 150px;
	}

	.title {
		h1 {
			color: #fff;
		}
	}
}

.collection-grid {

	&__item {
		display: flex;
		flex-direction: column;
		height: 521px;
		justify-content: space-between;


		a {
			width: 100%;
			height: 100%;
			background-position: center top;
			background-size: cover;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			& + a {
				margin-top: 34px;
			}

			&:before {
				transition: all .3s ease-in;
				opacity: 0;
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-color: rgba($brand2, .76);
			}

			i {
				transition: all .3s ease-in;
				opacity: 0;
				position: relative;
				z-index: 10;
				transform: translateY(30px);
			}


			&:hover {
				&:before, i {
					opacity: 1;
				}
				i {
					transform: translateY(0px);
				}
			}
		}

	}
}

.hits {

	&__carousel-inner{
		.owl-nav {
			margin-top: 50px;
			display: flex;
			justify-content: center;
			position: relative;
			&:before {
				content: "";
				width: 30px;
				height: 1px;
				border-bottom: 1px dashed #464646;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -15px;
				margin-top: -2px;
			}

			& > * {
				margin: 0 25px;
			}
		}
	}
	
}

.back-button {
	display: inline-flex;
	align-items: center;
	padding: 13px 20px;
	background-color: $brand;
	color: #fff;
	margin: 35px auto 0;
	i {
		margin-right: 10px;
	}

	&:hover {
		background-color: $brand2;
		color: #fff;
	}
}


.contact-page {

	&__inner {
		padding: 100px 0;
		background-image: url("/image/contact.jpg");
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;

	}

	&__items {
		display: flex;
	}

	&__item {
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			margin-right: 130px;
		}

		i {
			opacity: 0.2;
		}

		h5 {
			font-family: "Osw-bold";
			text-transform: uppercase;
			font-size: 20px;
			margin: 25px 0;
			color: $brand2;
		}

		a {
			font-size: 15px;
			color: #fff;
			font-family: "Rob-bold";
			&:hover {
				color: $brand2;
			}
		}
	}
}


.contact-block {
	&__container{
		display: flex;
	}

	&__col {
		width: 50%;
		flex: 1 0 auto;
	}

	&__map  {
		flex: 1 0 auto;
	}

	&__form {
		background-color: $brand;
		background-image: url("/image/quest.png");
		background-position: center;
		background-repeat: no-repeat;
		padding: 30px 0;
		position: relative;
		z-index: 999;
		&:after {
			content: "";
			right: calc(100% - 50px);
			width: 100px;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: -1;
			background-color: $brand;
			transform: skew(-10deg);
		}
	}
}

.static-page {
	padding: 100px 0;
	background-image: url("/image/contact.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;

	h5 {
		font-size: 20px;
		text-transform: uppercase;
		font-family: "Osw-bold";
		color: $brand2;
		margin-bottom: 35px;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 50px;
		margin-bottom: 50px;
		li {
			color: #fff;
			margin-bottom: 10px;
			font-size: 15px;
			position: relative;
			padding-left: 27px;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: calc(50% - 10px);
				border: 7px solid transparent;
				border-top: 10px solid #d6c193;
				transform: rotate(-90deg);
			}
		}
	}

	p {
		color: #fff;
		font-size: 15px;
		margin-bottom: 30px;
		font-family: "Rob-light";
	}

	.params {
		margin-bottom: 70px;
		width: 70%;
	}
}

.special-offer {
	height: 700px;
    background-image: url(/image/gallery.jpg);
    background-repeat: repeat-x;
    padding: 90px 0 150px;

	&__item {
		position: relative;
		img {
			width: 100%;
		}

		&:hover {
			z-index: 999;

			a {
				opacity: 1;
				transform: scale(1.1);
				box-shadow: 0 0 20px rgba(0,0,0,.5);
			}
		}

		a {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			color: #fff;
			background-color: rgba($brand2, .78);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transform: scale(1);

			span {
				font-size: 15px;
				display: inline-block;
				text-transform: uppercase;
				font-family: "Rob-bold";
				text-align: center;
				padding-bottom: 22px;
				position: relative;
			}

			
		}
	}
	
	.owl-stage-outer {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.owl-item {
		&:hover {
			z-index: 10;

			a {
				opacity: 1;
				transform: scale(1.1);
				box-shadow: 0 0 20px rgba(0,0,0,.3);
			}
		}
	}

	.owl-nav {
		margin-top: 50px;
		display: flex;
		justify-content: center;
		position: relative;
		&:before {
			content: "";
			width: 30px;
			height: 1px;
			border-bottom: 1px dashed #464646;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -15px;
			margin-top: -2px;
		}

		& > * {
			margin: 0 25px;
		}
	}
}




@import "partials/media.scss";
