// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-bot-name: 'arrow-bot';
$arrow-bot-x: 103px;
$arrow-bot-y: 32px;
$arrow-bot-offset-x: -103px;
$arrow-bot-offset-y: -32px;
$arrow-bot-width: 10px;
$arrow-bot-height: 5px;
$arrow-bot-total-width: 113px;
$arrow-bot-total-height: 106px;
$arrow-bot-image: '/image/sprite.png';
$arrow-bot: (103px, 32px, -103px, -32px, 10px, 5px, 113px, 106px, '/image/sprite.png', 'arrow-bot', );
$bage-name: 'bage';
$bage-x: 81px;
$bage-y: 32px;
$bage-offset-x: -81px;
$bage-offset-y: -32px;
$bage-width: 22px;
$bage-height: 22px;
$bage-total-width: 113px;
$bage-total-height: 106px;
$bage-image: '/image/sprite.png';
$bage: (81px, 32px, -81px, -32px, 22px, 22px, 113px, 106px, '/image/sprite.png', 'bage', );
$cart-name: 'cart';
$cart-x: 81px;
$cart-y: 0px;
$cart-offset-x: -81px;
$cart-offset-y: 0px;
$cart-width: 32px;
$cart-height: 32px;
$cart-total-width: 113px;
$cart-total-height: 106px;
$cart-image: '/image/sprite.png';
$cart: (81px, 0px, -81px, 0px, 32px, 32px, 113px, 106px, '/image/sprite.png', 'cart', );
$cart2-name: 'cart2';
$cart2-x: 0px;
$cart2-y: 86px;
$cart2-offset-x: 0px;
$cart2-offset-y: -86px;
$cart2-width: 20px;
$cart2-height: 20px;
$cart2-total-width: 113px;
$cart2-total-height: 106px;
$cart2-image: '/image/sprite.png';
$cart2: (0px, 86px, 0px, -86px, 20px, 20px, 113px, 106px, '/image/sprite.png', 'cart2', );
$eye-name: 'eye';
$eye-x: 0px;
$eye-y: 0px;
$eye-offset-x: 0px;
$eye-offset-y: 0px;
$eye-width: 81px;
$eye-height: 57px;
$eye-total-width: 113px;
$eye-total-height: 106px;
$eye-image: '/image/sprite.png';
$eye: (0px, 0px, 0px, 0px, 81px, 57px, 113px, 106px, '/image/sprite.png', 'eye', );
$location-name: 'location';
$location-x: 0px;
$location-y: 57px;
$location-offset-x: 0px;
$location-offset-y: -57px;
$location-width: 23px;
$location-height: 29px;
$location-total-width: 113px;
$location-total-height: 106px;
$location-image: '/image/sprite.png';
$location: (0px, 57px, 0px, -57px, 23px, 29px, 113px, 106px, '/image/sprite.png', 'location', );
$mail-name: 'mail';
$mail-x: 23px;
$mail-y: 57px;
$mail-offset-x: -23px;
$mail-offset-y: -57px;
$mail-width: 23px;
$mail-height: 18px;
$mail-total-width: 113px;
$mail-total-height: 106px;
$mail-image: '/image/sprite.png';
$mail: (23px, 57px, -23px, -57px, 23px, 18px, 113px, 106px, '/image/sprite.png', 'mail', );
$man-name: 'man';
$man-x: 46px;
$man-y: 57px;
$man-offset-x: -46px;
$man-offset-y: -57px;
$man-width: 13px;
$man-height: 17px;
$man-total-width: 113px;
$man-total-height: 106px;
$man-image: '/image/sprite.png';
$man: (46px, 57px, -46px, -57px, 13px, 17px, 113px, 106px, '/image/sprite.png', 'man', );
$phone-name: 'phone';
$phone-x: 20px;
$phone-y: 86px;
$phone-offset-x: -20px;
$phone-offset-y: -86px;
$phone-width: 19px;
$phone-height: 19px;
$phone-total-width: 113px;
$phone-total-height: 106px;
$phone-image: '/image/sprite.png';
$phone: (20px, 86px, -20px, -86px, 19px, 19px, 113px, 106px, '/image/sprite.png', 'phone', );
$send-name: 'send';
$send-x: 39px;
$send-y: 86px;
$send-offset-x: -39px;
$send-offset-y: -86px;
$send-width: 19px;
$send-height: 19px;
$send-total-width: 113px;
$send-total-height: 106px;
$send-image: '/image/sprite.png';
$send: (39px, 86px, -39px, -86px, 19px, 19px, 113px, 106px, '/image/sprite.png', 'send', );
$spritesheet-width: 113px;
$spritesheet-height: 106px;
$spritesheet-image: '/image/sprite.png';
$spritesheet-sprites: ($arrow-bot, $bage, $cart, $cart2, $eye, $location, $mail, $man, $phone, $send, );
$spritesheet: (113px, 106px, '/image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
